

textarea.form-control {
    resize: none;
}
.like-btn {
    color: gray;
}

.add-comment {
    color: lightgreen !important;
}
.add-comment:hover {
    background-color: lightgreen !important;
    color: white !important;
}

.post-image {
    aspect-ratio: 1 / 1;
    object-fit: cover;
}